@model GerenciadorDeBiblioteca.Models.Moviment

@{
    TempData["Title"] = "Delete";
}

<h1>Deletar</h1>

<h3>Deseja realmente deletar esse cadastro?</h3>
<div>
    <h4>Movimentação</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPerson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPerson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdResponsible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdResponsible)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateMoviment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateMoviment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDeadline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDeadline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateMaxDeadline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateMaxDeadline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdState)
        </dd>
    </dl>
    
<form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para a Lista</a>
    </form>
</div>
